.form
    margin: 10px
    width: 200px
    height: 200px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    background: linear-gradient(45deg, #ce70eb, #594fe7)
    border-radius: 10px
    &__label
        margin-top: 15px
        color: #222
    &__input
        height: 70px
        width: 70px
        border-radius: 10px
        text-align: center
        font-size: 2rem
        font-weight: bold
        border: none
        background: linear-gradient(45deg,#8EFAF3, #02B3A7)
        color: #222
        border-top: 1px solid white
        border-left: 1px solid white
        border-bottom: 2px solid black 
        border-right: 2px solid black
        outline: none
    &__button, &__reset
        background-color: #18159c
        color: #fff 
        border-radius: 10px
        padding: 5px
        border-top: 1px solid white
        border-left: 1px solid white
        border-bottom: 2px solid black 
        border-right: 2px solid black
        cursor: pointer
        outline: none
        &:hover
            background-color: #4c4ad1
        &:active
            background-color: #18159c
            border-top: 1px solid black
            border-left: 1px solid black
            border-bottom: 2px solid white 
            border-right: 2px solid white
    &__reset
        background: linear-gradient(45deg,#E00600, #F7730C)
        &:hover
            background: linear-gradient(45deg, #F7730C, #E00600)
